<!doctype html>
<html>
  <head>
    <title><%= locals.meta.title %></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no' />
    <meta name="theme-color" content="#31124b" />
    <meta name="apple-mobile-web-app-title" content="dorbel">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="dorbel">
    <meta name="description" content="<%= locals.meta.description %>"/>
    <meta property="og:locale" content="he_IL" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= locals.meta.title %>" />
    <meta property="og:description" content="<%= locals.meta.description %>" />
    <meta property="og:url" content="<%= locals.meta.url %>" />
    <meta property="og:site_name" content="dorbel" />
    <meta property="fb:app_id" content="1651579398444396" />
    <meta property="og:image" content="<%= locals.meta.image.url %>" />
    <meta property="og:image:width" content="<%= locals.meta.image.width %>" />
    <meta property="og:image:height" content="<%= locals.meta.image.height %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="<%= locals.meta.description %>" />
    <meta name="twitter:title" content="<%= locals.meta.title %>" />
    <meta name="twitter:image" content="<%= locals.meta.image.url %>" />
    <meta name="apple-mobile-web-app-title" content="dorbel">
    <meta name="application-name" content="dorbel">
    <link rel="icon" type="image/png" href="https://static.dorbel.com/images/favicon/favicon32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://static.dorbel.com/images/favicon/favicon16.png" sizes="16x16">
    <link rel="shortcut icon" href="https://static.dorbel.com/images/favicon/favicon.ico">
    <link rel="canonical" href="<%= locals.meta.url %>"/>
    <link rel="alternate" hreflang="he" href="https://app.dorbel.com/" />

    <script>
      window.__INITIAL_STATE__ = <%- JSON.stringify(initialState) -%>;
      window.dorbelConfig = <%- JSON.stringify(envVars) -%>;
    </script>
    <link rel="stylesheet" href="<%= locals.cssBundle %>" type="text/css" />
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
      analytics.load("<%= locals.segment %>");
      analytics.page();
      }}();
    </script>
    <script src="https://cdn.optimizely.com/js/<%= locals.optimizely %>.js"></script>
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:<%= locals.hotjar %>,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>
  <body>
    <%- include ../assets/images/images.sprite.svg %>
    <div id="root" class="full-height"><%- appHtml -%></div>
    <script src="<%= locals.jsBundle %>"></script>
  </body>
</html>
